- var pfx = 'diag-tree-show'

mixin answer
  // ko if: item.get("answerIx") !== null
  span(class=`${pfx}--history-answer`)
    span(data-bind='\
      text: item.getIn(["answers", item.get("answerIx"), "header"]),\
    ')
    br
    span(data-bind='text: item.get("answerTime")')
    span= ' — '
    span(data-bind='text: item.get("answeredBy")')
  // /ko

mixin historyItem
  div(
    class=`${pfx}--more-actions`
    data-bind='if: $component.hasPrevHistory(item.get("id"))')
    a(
      href='#'
      class=`${pfx}--more`
      data-bind='\
        disabled: $component.isProcessing,\
        visible: \
          $component.hasPrevHistory(item.get("id")) &&\
          $component.showDeprecated() !== item.get("id"),\
        click: $component.showDeprecatedAnswers,\
      ')
      | Показать отменённые ответы

    a(
      href='#'
      class=`${pfx}--more`
      data-bind='\
        disabled: $component.isProcessing,\
        visible: $component.showDeprecated() === item.get("id"),\
        click: $component.hideDeprecatedAnswers,\
      ')
      | Скрыть отменённые ответы

  //
    ko if:
      $component.hasPrevHistory(item.get("id")) &&
      $component.showDeprecated() === item.get("id")

  .list-group(data-bind='\
    foreach: {\
      data: $component.prevHistory(item.get("id")).toArray(),\
      as: "prevItem",\
    },\
  ')
    button.list-group-item(
      class=`${pfx}--btn ${pfx}--deprecated`
      data-bind=`\
        disabled: $component.isProcessing,\
        css: {"${pfx}--selected": prevItem.get("id") === $component.slideId()},\
        click: $component.selectHistory,\
      `)
        h4.list-group-item-heading(data-bind='text: prevItem.get("header")')
        p.list-group-item-text
          +answer

  // /ko

  div(
    class=`${pfx}--with-floating-btn`
    data-bind='\
      event: {\
        mouseenter: $component.onHistoryMouseEnter,\
        mouseleave: $component.onHistoryMouseLeave,\
      },\
    ')
    button.list-group-item(class=`${pfx}--btn` data-bind=`\
      css: {"${pfx}--selected": $component.slideId() === item.get("id")},\
      click: $component.selectHistory,\
      disabled: $component.isProcessing,\
      event: {\
        focus: $component.onHistoryFocus,\
        blur: $component.onHistoryBlur,\
      },\
    `)
      h4.list-group-item-heading(data-bind='text: item.get("header")')
      p.list-group-item-text
        +answer
    button.btn.glyphicon.glyphicon-repeat(
      class=`${pfx}--floating-btn`
      title='Повторить вопрос'
      data-bind=`\
        click: $component.repeatQuestion,\
        disabled: $component.isProcessing,\
        css: {\
          "${pfx}--floating-btn--visible":\
            $component.hoverId() === item.get("id"),\
        },\
        event: {\
          focus: $component.onHistoryFocus,\
          blur: $component.onHistoryBlur,\
        },\
      `)

.container
  .row
    .col-md-4
      .list-group(data-bind='\
        foreach: {data: $component.history, as: "item"},\
      ')
        div
          +historyItem
    .col-md-8
      div(data-bind='spinner: $component.isProcessing')

      p(data-bind='visible: $component.isGetCaseHistoryFailed')
        span.label.label-danger Ошибка
        |
        | Произошла ошибка при загрузке истории диагностики

      p(data-bind='visible: $component.isRepeatQuestionFailed')
        span.label.label-danger Ошибка
        |
        | Произошла ошибка при попытке повторить вопрос

      h1(data-bind='text: $component.slide().get("header")')
      div(
        class=`${pfx}--slide-body`
        data-bind='html: $component.slide().get("body")')
