include _settings

.row-fluid
  .span12.default-bs
    include _statNav
    .row-fluid#settings.spinner(data-bind="spinner: spinner")
      #fader.blur(style="position: absolute; width: 100%; height: 100%")
      +settingsContainer("Показатели")
        .row-fluid
          .span6
            .row-fluid(data-bind="visible: !interval.correct()")
              small.text-errorНачало диапазона должно быть меньше чем конец
            .row-fluid#date-range
              .span5
                .input-append
                  input.pane-span.focusable(type="text"
                    autocomplete="off"
                    name="interval.begin"
                    data-bind="value: interval.begin, addMask: 'datetime'")
              .span5
                .input-append
                  input.pane-span.focusable(type="text"
                    autocomplete="off"
                    name="interval.end"
                    data-bind="value: interval.end, addMask: 'datetime'")
              .span2
                button.btn(data-bind="click: fetchData"
                           style="padding-bottom: 2px; padding-top:2px") OK
            .row-fluid#search
              .span12.form-inline
                input.focusable(
                  style="width: 90%;"
                  type="text"
                  placeholder="Поиск"
                  name="filter"
                  data-bind="value: filter, valueUpdate: 'afterkeydown'")
            .row-fluid#kpis(data-bind="foreach: fields")
              .row-fluid
                .span8(data-bind="text: meta.label")
                .span4(data-bind="render: {kvm: $root.kvm, field: $data}")

.hidden
  include /fields/ro.jade