include _settings.pug

.container-fluid.screen
  .row
    .col-md-12.default-bs
      include _statNav.pug
      .row#settings
        +settingsContainer
          .row
            .col-md-4
              +settings
            .col-md-8
              .in(style="padding-left: 3em; height: 12em; overflow-x: auto;")
                span.inverse-red Выделяется красным
                | , если занят &ge;
                input.tiny-input(type="text"
                    data-bind="value: overdue.text, update: 'afterkeydown'")
                | минут или превысил регламентное время выполнения действия
                br
                span.inverse-orange Выделяется оранжевым
                | , если разлогинился из статуса занят

                br
                label.checkbox
                  input(type="checkbox" data-bind="checked: hideOffline")
                  span Скрывать в статусе "Разлогинен"

                strong#abandoned-services
                  | Ожидают обработки &nbsp;
                  span(data-bind="text: abandoned.total")
                ul
                  // ko foreach: abandoned.services
                  li
                    a(data-bind="attr: {href: href}, text: text")
                  // /ko

        .row.col-md-4#filters(style="margin-top: 10px; margin-bottom: 10px;")
          #kvmsFilter
            +kvmFilter
          // +downloadTbl

    .row.col-md-12#results(style="overflow-y: auto")
      table#tbl.table.table-condensed.table-bordered
       thead
         tr
           th
             button.btn.btn-link(
               style='white-space: nowrap;'
               data-bind='text: "Оператор", sort: "userid"')
           th(data-bind="visible: global.CTIPanel",
              style='text-align: center; vertical-align: middle')
             | AVAYA
           // ko foreach: fields
           th(data-bind="visible: show")
             button.btn.btn-link(
               style='white-space: nowrap;'
               data-bind='text: label, sort: name')
           // /ko
       tbody(data-bind="foreach: {data: kvms, as: 'kvm'}")
         tr(data-bind="visible: kvm._meta.visible")
           td(data-bind="text: kvm['useridGrp']")
           td(data-bind="visible: global.CTIPanel", style="text-align: center")
             button.btn.btn-warning(
               data-bind="click: kvm._meta.takeover,\n\
                          visible: kvm._meta.currentCall() && !kvm._meta.beingListened()")
               | Перехватить
             button.btn.btn-warning(
               data-bind="click: kvm._meta.listenTo,\n\
                          visible: kvm._meta.currentCall() && !kvm._meta.beingListened()")
               | Слушать
             button.btn.btn-info(disabled,
               data-bind="click: kvm._meta.listenTo,\n\
                          visible: kvm._meta.currentCall() && kvm._meta.beingListened()")
               | Прослушивание…
           // ko foreach: $root.fields
           td(data-bind="visible: show, \n\
                         render: {kvm: kvm, field: $data}, \n\
                         css: { 'inverse-orange': kvm._meta.logoutFromBusy, \n\
                                'inverse-red': kvm._meta.overdue, \n\
                                'grey-bg': kvm.currentState() == 'LoggedOut' \n\
                              }")
           // /ko

.hidden
  include /fields/ro.pug
