include _table

.row-fluid
  .span12.default-bs
    include _statNav
    .row-fluid#settings
      .span12.bs-docs-less-margins#kpi-list
        .bs-docs-example-after
          i.icon-plus
          | Настройки
        #kpi-list-inner.in(style="height: 20em; overflow-x: auto;")
          - var n = 0

          ul.unstyled
            while n < 50
              - n++
              li
                label.checkbox
                  input(type="checkbox")
                  = "Показатель " + n

      .row-fluid
        .span4#date-range(style="margin-top: 10px")
          .span4
            .input-append.date(data-provide="datepicker"
                               data-autoshow-datepicker="true"
                               data-date-format="dd.mm.yyyy"
                               data-date-weekstart="1")
              input.pane-span.focusable(type="text"
                autocomplete="off"
                name="{{ name }}Begin"
                data-bind="value: {{ name }}Begin, valueUpdate: 'change'")
              span.add-on
                i.icon.icon-calendar
          .span4.offset1
            .input-append.date(data-provide="datepicker"
                               data-autoshow-datepicker="true"
                               data-date-format="dd.mm.yyyy"
                               data-date-weekstart="1")
              input.pane-span.focusable(type="text"
                autocomplete="off"
                name="{{ name }}End"
                data-bind="value: {{ name }}End, valueUpdate: 'change'")
              span.add-on
                i.icon.icon-calendar

    .row-fluid#results
      +table