include _table
include _settings

.row-fluid
  .span12.default-bs
    include _statNav
    .row-fluid#settings
      +settingsContainer
        +settings

      .row-fluid#filters(style="margin-top: 10px")
        .span4#kvmsFilter
          +kvmFilter
        .span2#date-range
            .input-append
              input.pane-span.focusable(type="text"
                autocomplete="off"
                name="interval.begin"
                data-bind="value: interval.begin, addMask: 'datetime'")
              span.add-on
                i.icon.icon-calendar
          .span2
            .input-append
              input.pane-span.focusable(type="text"
                autocomplete="off"
                name="interval.end"
                data-bind="value: interval.end, addMask: 'datetime'")
              span.add-on
                i.icon.icon-calendar
          +downloadTbl

    .row-fluid#results(style="overflow-y: auto")
      +table

.hidden
  include /fields/ro.jade