include _table
include _settings

.row-fluid
  .span12.default-bs
    include _statNav
    #stat-kpi-content(data-bind="spinner: spinner")
      .row-fluid#settings(data-bind="with: settingsCtx")
        +settingsContainer
          +settings

        .row-fluid#filters(style="margin-top: 10px")
          .span4#kvmsFilter
            +kvmFilter
          .span2#date-range
            .input-append
              input.pane-span.focusable(type="text"
                autocomplete="off"
                name="interval.begin"
                data-bind="value: interval.begin, addMask: 'datetime'")
              span.add-on
                i.icon.icon-calendar
          .span2
            .input-append
              input.pane-span.focusable(type="text"
                autocomplete="off"
                name="interval.end"
                data-bind="value: interval.end, addMask: 'datetime'")
              span.add-on
                i.icon.icon-calendar
          .span2
            button.btn(data-bind="click: fetchData"
                       style="padding-bottom: 2px; padding-top:2px") OK
          +downloadTbl

      .row-fluid#results(style="overflow-y: auto" data-bind="with: tblCtx")
        +table

.hidden
  include /fields/ro.jade