doctype html
html
  head
    meta(charset='utf-8')
    title
      addLocalName CaRMa
    link(rel='stylesheet', href='/s/3p/normalize-css/normalize.css')

    // Everything is concatenated in this
    link(rel='stylesheet', href='/s/css/style.css', title='local')

    // DOM manipulation
    script(src='/s/3p/jquery.js')
    // Rich UI
    script(src='/s/3p/bootstrap/js/bootstrap.min.js')

    // datepicker
    link(rel='stylesheet' href='/s/3p/bootstrap-datepicker/css/datepicker3.css')
    script(src='/s/3p/bootstrap-datepicker/js/bootstrap-datepicker.js')
    script(src='/s/3p/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js')

    // Jasny BS extensions
    link(rel='stylesheet' href='/s/3p/jasny-bootstrap/css/jasny-bootstrap.min.css')
    script(src='/s/3p/jasny-bootstrap/js/jasny-bootstrap.min.js')

    // WYSIWYG
    link(rel='stylesheet', href='/s/3p/wysihtml5/bootstrap3-wysihtml5.css')
    script(src='/s/3p/wysihtml5x/wysihtml5x.min.js')
    script(src='/s/3p/wysihtml5x/wysihtml5x-toolbar.min.js')
    script(src="/s/3p/wysihtml5/bootstrap3-wysihtml5.all.min.js")
    script(src="/s/3p/wysihtml5/locales/bootstrap-wysihtml5.ru-RU.js")

    // Date Range Picker for Bootstrap
    script(src='/s/3p/moment-with-locales.min.js')
    link(rel='stylesheet', href='/s/3p/daterangepicker/daterangepicker-bs3.css')
    script(src='/s/3p/daterangepicker/daterangepicker.js')
    // Spinner
    script(src='/s/3p/spin.js')
    script(src='/s/3p/jquery.spin.js')
    // Tabular display
    link(rel='stylesheet', href='/s/3p/datatables/css/jquery.dataTables.min.css')
    script(src='/s/3p/datatables/js/jquery.dataTables.min.js')
    // Responsive UI javascript library
    script(src='/s/3p/knockout.js')
    // Utility library, Backbone dependency
    script(src='/s/3p/underscore.js')
    // Simple templates
    script(src='/s/3p/mustache.js')
    // Key bindings
    script(src='/s/3p/mousetrap.min.js')
    // OpenLayers library allows map rendering
    script(src='/s/3p/OpenLayers/OpenLayers.js')
    // 25Kb of date parsing and formatting
    script(src='/s/3p/date/core.js')
    script(src='/s/3p/date/ru-RU.js')
    script(src='/s/3p/date/extras.js')
    script(src='/s/3p/date/parser.js')
    script(src='/s/3p/date/sugarpak.js')
    script(src='/s/3p/jquery.knob.min.js')
    script(src='/s/3p/md5.min.js')
    script(src='/s/3p/d3.min.js')
    script(src='/s/3p/notify-combined.min.js')
    // global libs, that is not handled by require js
    // typeahead menu
    script(src='/s/js/gen/globallibs/th-menu.js')
    script(src='/s/js/gen/globallibs/observableSet.js')
    script(src='/s/js/gen/globallibs/sorted.js')
    script(src='/s/js/gen/globallibs/customKoHandlers.js')
    script(src='/s/js/gen/globallibs/utils.js')
    script(src='/s/3p/require.js')
    script(src='/s/js/gen/requireCfg.js')
    script(src='/s/js/gen/local.js')
  body
    // Navigation bar on top
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/')
            addLocalName CaRMa
        .collapse.navbar-collapse
          ul.nav.navbar-nav#nav
            // ko foreach: $data

            // ko renderMenuEl: $data
            // /ko

            // /ko
            li
              a#send-bug-report
                span.glyphicon.glyphicon-fire
          ul#current-user.nav.navbar-nav.navbar-right
            li.divider-vertical
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i#icon-user.icon-user.icon-white
                span(data-bind='text: safelyGet(\'login\')')
                b.caret
              ul.dropdown-menu
                li
                  a(href='/logout/')
                    i.icon-off.icon-black
                    | Выход
            li.dropdown
              a.nav-block.dropdown-toggle(data-toggle='dropdown',
                data-bind="text: safelyGet('currentStateLocal')")
              ul.dropdown-menu
                li.current-user-menu
                  | Текущий статус:
                  span(data-bind="text: safelyGet('currentStateLocal')")
                  span(data-bind="text: safelyGet('timeInCurrentState')")
                  #user-state-btngroup.btn-group.btn-group-xs
                    button.btn.btn-default.btn-small(type='button',
                      data-bind="css: {\n\
                        'btn-success': safelyGet('delayedState') == 'Rest'\n\
                        },\n\
                        disable: inSBreak() || inNA(),\n\
                        click: function () {\n\
                        toggleDelayed('Rest')\n\
                        }")
                      | Перерыв
                    button.btn.btn-default.btn-small(type='button',
                      data-bind="css: {\n\
                        'btn-success': safelyGet('delayedState') == 'Dinner'\n\
                        },\n\
                        disable: inSBreak() || inNA(),\n\
                        click: function () { toggleDelayed('Dinner')}")
                      | Обед
    #cti.well(style='display: none')
      .container-fluid#cti-form
          // ko foreach: calls
          form.call-form.form-inline(
            data-bind='submit: makeThis,\
                       visible: $index() == 0 ||\
                                $parent.showBlankCall() ||\
                                $index() < ($parent.calls().length - 1)')
            span.label.label-danger(
              data-bind='visible: $parent.lostConnection() && $index() == 0')
              i.glyphicon.glyphicon-flash
              | &nbsp;Нет соединения
            span.label.label-danger(data-bind='visible: failed')
              i.glyphicon.glyphicon-exclamation-sign
              | &nbsp;Ошибка дозвона
            span.label.label-primary(data-bind='visible: vdn, text: vdn')
            span.label.label-danger(data-bind='visible: vip')
              i.glyphicon.glyphicon-star
              | VIP
            textarea.form-control.number(placeholder='Номер телефона',
              style='resize: none',
              data-bind="textInput: number,\
                         attr: { rows : numberRows },\
                         disable: callStart")
            input.form-control.extension-mask(
              placeholder='Добавочный',
              size="10"
              data-bind='textInput: extension,\
                         visible: canExtend')
            span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate(
              data-bind='visible: wip')
            button.call-button.btn.btn-sm.btn-success(type='submit',
              data-bind='visible: canCall, click: makeThis')
              i.glyphicon.glyphicon-earphone
              | &nbsp;Позвонить
            button.btn.btn-sm.btn-success(type='button',
              data-bind='visible: canAnswer, click: answerThis')
              i.glyphicon.glyphicon-phone-alt
              | &nbsp;Принять звонок
            button.btn.btn-sm.btn-info(type='button',
              data-bind='visible: canHold, click: holdThis')
              i.glyphicon.glyphicon-pause
              | &nbsp;Удерживать
            button.btn.btn-sm.btn-info(type='button',
              data-bind='visible: canConf, click: confThis')
              i.glyphicon.glyphicon-plus-sign
              | &nbsp;Конференция
            button.btn.btn-sm.btn-info(type='button',
              data-bind='visible: canTransfer, click: transferThis')
              i.glyphicon.glyphicon-arrow-up
              | &nbsp;Соединить
            button.btn.btn-sm.btn-warning(type='button',
              data-bind='visible: canRetrieve, click: retrieveThis')
              i.glyphicon.glyphicon-play
              | &nbsp;Возобновить
            button.btn.btn-sm.btn-danger(type='button',
              data-bind='visible: canEnd, click: endThis')
              i.glyphicon.glyphicon-remove-circle
              | &nbsp;Завершить звонок
            span(data-bind='visible: $index() == 0')
              button.btn.btn-sm(type='button',
                data-bind='visible: $parent.canMute(), click: mute')
                i.glyphicon.glyphicon-volume-off
              button.btn.btn-sm(type='button',
                data-bind='visible: $parent.canUnmute(), click: unmute')
                i.glyphicon.glyphicon-volume-up
              button.btn.btn-sm(type='button',
                data-bind='visible: canInsta, click: instaDial(\'665\')')
                | Супервизор
              button.btn.btn-sm(type='button',
                data-bind='visible: canInsta, click: instaDial(\'146\')')
                | Механик
            .pull-right(
              data-bind='visible: !$parent.showBlankCall() &&\
                                  $index() == ($parent.calls().length - 2)')
              button.btn.btn-sm(type='button',
                data-bind='click: addBlankCall')
                i.glyphicon.glyphicon-plus
                | &nbsp;Ещё звонок
          // /ko
    // Main container for dynamically rendered layouts
    #main-container
      #layout
    // SMS send form
    #sms-send-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Отправка СМС
          #sms-send-form.modal-body.form-horizontal
          .modal-footer
            button#do-send-sms.btn.btn-primary Отправить
