#call-screen.screen.container-fluid
  .row
    #left.form-horizontal.col-md-5.col
      .form-group
        label.control-label.col-sm-4 Номер
        .col-sm-8
          input#call-number.form-control.input-sm(type='text'
                                         disabled='disabled'
                                         data-bind='value: maybeId')
      #call-view

    #center.col-md-5.col
      #call-program-description.panel-group(
          style="margin-top: 5px;"
          data-bind="visible: programLocal")
        .panel.panel-default
          .panel-heading
            h4.panel-title
              a(data-toggle='collapse'
                data-parent='#call-program-description'
                href='#call-program-description-body'
                data-bind='text: programLocal')
          .panel-collapse.collapse.in#call-program-description-body
            .panel-body
              address(data-bind='html:programDesc')

    #right.col-md-2.col
      .btn-vert-block
        button.btn.btn-success.btn-block(
            type='submit'
            data-bind="click: makeNewCase.fn,\
                       enable: makeNewCase.avail")
          | Новый кейс

        button.btn.btn-default.btn-block(data-bind="click: openDip.fn")
          span.glyphicon.glyphicon-search
          | &nbsp; Дилеры и партнеры

        button.btn.btn-danger.btn-block(
            data-bind="click: endCall.fn, enable: endCall.avail,\
              attr: {title: endCall.title}")
          | Закончить звонок

        button.btn.btn-default.btn-block(data-bind="click: servicesSearch.fn")
          span.glyphicon.glyphicon-search
          | &nbsp; Поиск услуг

        button.btn.btn-default.btn-block(data-bind="click: callsSearch.fn")
          span.glyphicon.glyphicon-search
          | &nbsp; Поиск звонков

        button.btn.btn-default.btn-block(data-bind="click: contractsSearch.fn")
          span.glyphicon.glyphicon-search
          | &nbsp; Поиск контрактов


  .row.bottom-part
    .form-inline
      .form-group
        label.sr-only
          | Поиск
        .input-group
          input#search-query.form-control.input-xlarge(
              type='text' placeholder="Поиск")
          .input-group-addon
            span#search-help.glyphicon.glyphicon-question-sign(
                data-trigger='hover')
    table#call-scrn-searchtable.table.table-striped.table-bordered.table-condensed
      thead
        tr
          th ID
          th ФИО
          th Дата звонка
          th Телефон
          th Номер машины
          th VIN
          th Программа
          th Комментарий
      tbody
