mixin filterDict(name, placeholder)
  .input-group.input-group-sm
    input.form-control(type="text"
       autocomplete="off"
       placeholder=`${placeholder}`
       data-bind=`\n\
                  value: ${name}.local,\
                  valueUpdate: 'change',\
                  bindDict: '${name}'`)
    span.input-group-addon
      span.glyphicon.glyphicon-chevron-down

.screen.container-fluid.row
  #partner-left.col.col-md-6
    #partner-table-filters.form-inline
      .col-sm-4
        +filterDict('isActive', 'Активность')
      .col-sm-4
        +filterDict('partnerType', 'Тип партнёра')
      .col-sm-4
        button.btn.btn-action(type='button'
            onclick="location.hash='partner';location.reload(true);")
          span.glyphicon.glyphicon-plus
          | &nbsp; Добавить партнёра
    br
    table#partner-table.table.table-striped.table-bordered
      thead
        tr
          th Скрытая колонка для фильтра
          th Скрытая колонка для фильтра
          th #
          th Название
          th Город
          th Комментарии
      tbody

  #partner-center.col.col-md-6
    form.form-horizontal
      #Partner-view

      // WARNING! this model injects into
      //          body>#top-level-modals>#injected-modal
      //          when 'partner' screen is initialized
      #partnerMapModal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(data-dismiss='modal' type='button')
                span(aria-hidden="true") &times
                span.sr-only Закрыть
              h4.modal-title#myModalLabel Выбор координат
            #Partner-view.modal-map-bound
              .modal-body
                #map-address.form-group(style='margin-bottom: 10px;')
                  .input-group.input-group-sm
                    input#map-search-field.form-control(type='text'
                      data-bind='value: factAddr')
                    span#map-search-button.input-group-addon
                      span.glyphicon.glyphicon-search
                #partnerMap.osMap(name='coords')
            .modal-footer
              a.btn.btn-primary(data-dismiss='modal') Сохранить

      #Partner-permissions
        permission-block(params=`
          readonly: _meta.cannotModifyModelData,
          viewName: view,
        `)
