include /fields/_form_utils

mixin dictInput(name)
  .input-group.input-group-sm
    input.form-control( type="text"
       autocomplete="off"
       data-bind="\n\
                  attr: { \
                    name: #{name}.field.meta.label, \
                    placeholder: #{name}.field.meta.label \
                  }, \
                  value: #{name}.local,\
                  valueUpdate: 'change',\
                  disabled: #{name}.disabled,\
                  pickerDisable: #{name}.disabled,\
                  bindDict: '#{name}'")
    span.input-group-addon
      span.glyphicon.glyphicon-chevron-down
  div
    ul(data-bind="foreach: #{name}.locals")
      li
        span(data-bind="text: label")
        a(href="" data-bind="click: remove") &nbsp ×



#partnersSearch-content.screen.row
  // customized popover tpl with increased max-width
  #custom-popover.fade.in.bottom
    .popover(style='max-width: 1000px;')
      .arrow
      .popover-content
  #map-search-overlay(
      style='position: absolute; width: 25%; display: none; z-index: 9000;')
    .input-group.input-group-sm
      input.form-control#map-search-field(type='text'
                                          placeholder='Адрес'
                                          data-bind='value: address')
      span#map-search-button.input-group-addon
        span.glyphicon.glyphicon-search
  .row
    .col-md-10
      .row
        .col-md-2
          +dictInput("city")
        .col-md-3
          +dictInput("make")
        .col-md-3
          +dictInput("services")
        .col-md-2
          +dictInput("priority2")
        .col-md-2
          +dictInput("priority3")

    .col-md-2
      a#case-info(data-toggle='popover'
                  data-placement='bottom'
                  data-html='true'
                  data-bind="attr: { \'data-content\': caseInfo }")
        | Информация о кейсе
      +checkboxField("isDealer")
      +checkboxField("mobilePartner")
      +checkboxField("workNow")
  .row
    .col-md-4.well.col
      .row
        .col-md-10
          input(type='text'
                placeholder='Поиск по партнёрам'
                autocomplete='off'
                name='search'
                data-bind="value: search, \
                      valueUpdate: 'afterkeydown', \
                      readonly: searchDisabled")
        select.col-md-2(style='float: right;', data-bind='selectedOptions: choosenSort')
          option(value='priority2')  ПБГ
          option(value='priority3')  ПБЗ
          // ko if: coords
          option(value='distance')  Дистанция
          // /ko
      #search-result.row(style='overflow-y: auto;')
        div(data-bind='visible: searchProcessed().length == 0'
            style='text-align: center;')
          em Не найдено партнёров, удовлетворяющих условиям поиска
        ol(data-bind='foreach: searchProcessed().splice(0,50)')
          li(data-bind='css: { \
                     \'selected-partner\': id() == $parent.selectedPartner(), \
                     \'disabled-partner\': isfree() == false \
                     }, attr: { id: \'partner-\' + id() + \'-info\' }')
            div
              ul.unstyled(data-bind='click: $parent.selectPartner')
                li
                  span
                    b
                      big(data-bind='text: name')
                  span(data-bind='visible: distance')
                    | (
                    span(data-bind='text: distanceFormatted')
                    | км)
                  img(data-bind='attr: {\'src\': ico}', width='30px', height='30px')
                li(data-bind='visible: id() == $parent.selectedPartner()')
                  button.btn.btn-danger(type='button'
                         data-bind='click: $parent.showPartnerCancelDialog, \
                         clickBubble: false')
                    span.glyphicon.glyphicon-list-alt
                    | Отказ
                li(data-bind="visible: phonesObjects().length > 0")
                  b Телефоны:
                  ul(data-bind='foreach: phonesObjects')
                    li(data-bind="html:  keyLocal() + '<br/>' + \
                                  ' Телефон:' + (value() || '')+ \
                                  ' Время работы:' + (note() || '')")
                li(data-bind="visible: cityLocal, \
                                 html: '<b>Город: </b>' + cityLocal()")
                li(data-bind="visible: factAddr, \
                                  html: '<b>Фактический адрес: </b>' + \
                                     factAddr()")
                li(data-bind="visible: makesLocals, \
                               html: '<b>Обслуживаемые марки: </b>' + \
                                      makesLocalsString()")
                li(data-bind="visible: comment, \
                               html: '<b>Комментарий: </b>' + comment()")
                li(data-bind="visible: servicesNested().length > 0")
                  b Услуги:
                  ul(data-bind="foreach: servicesNested")
                    // ko if: servicename
                    li(data-bind="html: showStr")
                    // /ko
              .btn-div(style="display: none")
                a.select-btn.btn.btn-mini.btn-primary Выбрать

            .panel-heading(data-toggle='collapse'
               data-bind="attr: { 'data-target': '#partner' + id() }")
              a Посмотреть полную информацию
            .panel-collapse.collapse(data-bind="attr: {id: 'partner' + id()}")
              ul.unstyled.accordion-inner
                li(data-bind='visible: personincharge')
                  b Ответственное лицо:
                  span(data-bind='text: personincharge')
                li(data-bind="visible: addrsObjects().length > 0")
                  b Адреса:
                  ul(data-bind='foreach: addrsObjects')
                    li(data-bind='text: keyLocal() + \': \' + (value() || \'\')')
                li(data-bind="visible: emailsObjects().length > 0")
                  b E-mails:
                  ul(data-bind='foreach: emailsObjects')
                    li(data-bind='text: keyLocal() + \': \' + (value() || \'\')')

    // wrapper to allign map with partners list
    div(style='margin-top: 1px;')
      #map.col-md-8.osMap
