mixin SmsTemplateField

  // ko if: $component.templates().get("isLoading")
  div(data-bind='spinner: {scale: 0.5, top: "14px"}')
  // /ko

  // ko if: $component.templates().get("isFailed")
  div
    p
      span.label.label-danger Ошибка
      |
      | Произошла ошибка при загрузке списка шаблонов
  // /ko

  // ko if: $component.templates().get("isLoaded")
  input.form-control(type='text' data-bind=`
    typeahead: {
      datasets    : [{limit: 20, source: smsTplFuzzySearchHandler}],
      value       : smsTemplate,
      valueUpdate : "keyup",
    },
  `)
  span.clear-sms-template-btn(
    data-bind='visible: smsTemplate, click: clearSmsTemplate')
    span.glyphicon.glyphicon-remove
  // /ko

.modal-backdrop.fade(data-bind='css: {in: fadeIn, active: isVisible}')
.modal.fade.is-overlay(data-bind=`
  css   : {in: fadeIn, active: isVisible},
  click : handleOverlayClick,
`)
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-bind='click: closeForm')
          span ×
        h4 Отправка СМС
      .modal-body
        form.form-horizontal
          .form-group.has-error(data-bind='visible: isFailed')
            .col-sm-4
            .col-sm-8
              .help-block Произошла ошибка при отправке данных
          .form-group
            label.col-sm-4.control-label Номер кейса
            .col-sm-8
              input.form-control(
                disabled
                type='number'
                data-bind='value: caseId')
          .form-group(data-bind='css: {"has-error": phone.validationError}')
            label.col-sm-4.control-label Телефон получателя
            .col-sm-8
              .input-group.input-group-sm
                input.form-control(
                  type='tel'
                  data-bind='value: phone, valueUpdate: "keyup"')
                span.input-group-addon
                  span.stolen-icon.stolen-icon-phone
          .form-group
            label.col-sm-4.control-label Шаблон сообщения
            .col-sm-8.sms-template-wrap
              +SmsTemplateField
          .form-group(data-bind='css: {"has-error": message.validationError}')
            label.col-sm-4.control-label Текст сообщения
            .col-sm-8
              textarea.form-control(
                rows=7
                data-bind=`
                  value       : message,
                  valueUpdate : "keyup",
                  disabled    : !$component.templates().get("isLoaded"),
                `)
      .modal-footer
        button.btn.btn-primary(data-bind='click: closeForm') Отмена

        button.btn.btn-success.send-btn(data-bind=`
          disabled : sendIsBlocked,
          click    : send,
          css      : {"btn-warning": isProcessing},
        `)
          i.glyphicon.glyphicon-refresh(data-bind='visible: isProcessing')
          span(data-bind='text: isProcessing() ? " Обработка" : "Отправить"')
